h1{
    text-align: center; }
    header{background-color: rgb(197, 146, 245);}
    .nav{
        background-color: rgb(86, 255, 80);
       color: #000000;
       text-decoration: none;
       padding: 5px; 
        border-radius: 5px; }
       footer{
           background-color: rgb(86, 255, 80);
        text-align: center;
        text-decoration: none;
        font-style: italic;
        margin-top: 1px; 
    padding: 1px 1px 2px 2px;}
    p {
        font-family: 'Courgette', cursive;
        }
        h3 {
            text-align: center;
        text-underline-position: auto;}
        