h1{
text-align: center; }
header{background-color: blueviolet;}
.nav{
    background-color: coral;
   color: #000000;
   text-decoration: none;
   padding: 5px; 
    border-radius: 5px; }
   footer{
       background-color: blueviolet;
    text-align: center;
    text-decoration: none;
margin-top: 10px; } 
